.header {
  background-color: yellow;
  height: 50px;
}
.content {
  background-color: pink;
  height: 500px;
  float: left;
  width: 80%;
}
.sidebar {
  background-color: gray;
  height: 500px;
  float: left;
  width: 20%;
}
.footer {
  background-color: green;
  height: 50px;
  clear: both;
}
